__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
build/
dist/
.mypy_cache/
.pytest_cache/
coverage.xml
.coverage
.ipynb_checkpoints
/.vscode/
data/chroma_db/
data/uploads/
.DS_Store
secrets.env
*.log
/.env